<a href="https://colab.research.google.com/github/akmal1994/Akmal-Jah-Quamri/blob/master/ANN_Credit_Card_Default_with_SMOTE_and_ANN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
mydata=pd.read_csv("creditcard.csv")

In [ ]:
mydata=pd.read_csv("creditcard.csv")

In [ ]:
mydata.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [ ]:
X=mydata.iloc[:,1:-1]

In [ ]:
X.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,...,0.251412,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62
1,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,-0.166974,...,-0.069083,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69
2,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,0.207643,...,0.524980,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66
3,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,-0.054952,...,-0.208038,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50
4,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,0.753074,...,0.408542,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99

In [ ]:
y=mydata.iloc[:,-1]

In [ ]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Class, dtype: int64

In [ ]:
from collections import Counter
Counter(y)

Counter({0: 284315, 1: 492})

In [ ]:
#from imblearn.under_sampling import TomekLinks

In [ ]:
#tl= TomekLinks()

In [ ]:
#X_res,y_res = tl.fit_resample(X,y)

In [ ]:
#Counter(y_res)

In [ ]:
from imblearn.over_sampling import SMOTE

Using TensorFlow backend.

In [ ]:
sm=SMOTE(sampling_strategy=0.01)

In [ ]:
X_res,y_res = sm.fit_resample(X,y)

In [ ]:
Counter(y_res)

Counter({0: 284315, 1: 2843})

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X_res,y_res,test_size=0.33, random_state=42)

In [ ]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

X_train=sc.fit_transform(X_train)
X_train=pd.DataFrame(X_train,columns=X_test.columns)

X_test=sc.transform(X_test)
X_test=pd.DataFrame(X_test,columns=X_train.columns)

In [ ]:
#Convert Everythign inot numpy arrays
x_train=X_train.values
x_test=X_test.values
y_train=y_train.values
y_test=y_test.values

In [ ]:
import keras

In [ ]:
from keras import Sequential
from keras.layers import Dense
from keras.layers import Dropout

In [ ]:
model=Sequential()

In [ ]:
x_train.shape

(192395, 29)

In [ ]:
model.add(Dense(units=32,activation='relu',kernel_initializer='uniform',input_dim=29))
model.add(Dense(units=32,activation='relu',kernel_initializer='uniform'))
model.add(Dense(units=32,activation='relu',kernel_initializer='uniform'))
#Drop out after 3rd Layer
model.add(Dropout(0.3))
model.add(Dense(units=32,activation='relu',kernel_initializer='uniform'))
model.add(Dense(units=32,activation='relu',kernel_initializer='uniform'))
#Dropout after 5th layer
model.add(Dropout(0.3))

In [ ]:
model.add(Dense(units=1,activation='sigmoid',kernel_initializer='uniform'))

In [ ]:
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [ ]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 32)                960
_________________________________________________________________
dense_2 (Dense)              (None, 32)                1056
_________________________________________________________________
dense_3 (Dense)              (None, 32)                1056
_________________________________________________________________
dropout_1 (Dropout)          (None, 32)                0
_________________________________________________________________
dense_4 (Dense)              (None, 32)                1056
_________________________________________________________________
dense_5 (Dense)              (None, 32)                1056
_________________________________________________________________
dropout_2 (Dropout)          (None, 32)                0
_________________________________________________________________
dense_6 (Dense)              (None, 1)                 33
=================================================================
Total params: 5,217
Trainable params: 5,217
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model.fit(x_train,y_train,batch_size=100,epochs=100,verbose=1)

Epoch 1/10
192395/192395 [==============================] - 3s 14us/step - loss: 0.0026 - accuracy: 0.9993
Epoch 2/10
192395/192395 [==============================] - 3s 13us/step - loss: 0.0026 - accuracy: 0.9993
Epoch 3/10
192395/192395 [==============================] - 3s 15us/step - loss: 0.0024 - accuracy: 0.9994
Epoch 4/10
192395/192395 [==============================] - 3s 14us/step - loss: 0.0025 - accuracy: 0.9994
Epoch 5/10
192395/192395 [==============================] - 3s 15us/step - loss: 0.0025 - accuracy: 0.9994
Epoch 6/10
192395/192395 [==============================] - 3s 14us/step - loss: 0.0023 - accuracy: 0.9993
Epoch 7/10
192395/192395 [==============================] - 3s 14us/step - loss: 0.0024 - accuracy: 0.9994
Epoch 8/10
192395/192395 [==============================] - 3s 15us/step - loss: 0.0023 - accuracy: 0.9994
Epoch 9/10
192395/192395 [==============================] - 3s 14us/step - loss: 0.0022 - accuracy: 0.9994
Epoch 10/10
192395/192395 [==============================] - 3s 14us/step - loss: 0.0021 - accuracy: 0.9994

In [ ]:
model.evaluate(x_test,y_test)

94763/94763 [==============================] - 1s 10us/step

[0.003813454629521678, 0.9990608096122742]